
.Negation {
    margin-top: 30px;
    padding: 20px;
    width: 50vw;
    background-color: #88304e;
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
}

.span-white {
    color: blanchedalmond;
    font-weight: 700;
}

.span-green {
    color: #3c76da;
    font-weight: 700;

}