@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap');

body {

    background-color: #311d3f;
}

.notDisplay {
    display: hidden;
}

.App {
    font-family: 'Inconsolata', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-btn {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    max-width: 40%;
    min-height: 12vh;
    border-radius: 10px;
    background-color: #0f4c75;
    transition: all .2s ease-in-out; 
    border-style: none;
}

.display-btn:hover {
    cursor: pointer;
    backface-visibility: hidden;
    transform: scale(1.1);
}

.display-btn:focus {
    outline: none;    
}